.doing{
    --card-item: 3;
    padding-top: 0;
    @media screen and (max-width: 1200px) {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }
}

.doing-list__wrap{
    position: relative;
}

.doing-list__text{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    padding: 27px 82px;
    width: 100%;
    min-height: 70px;
    color: var(--third-text-color);
    background-color: var(--second-background);
}