
.footer{
    background-color: var(--fifth-text-color);
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        
    }
}

.footer-list{
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: unset;
    }
}

.footer-list__item{
    &:not(:last-child){
        margin-bottom: 60px;
    }
    text-align: center;
    @media screen and (min-width: 768px) {
        &:last-child{
            margin: 0 auto;
        }
    }
    @media screen and (min-width: 1200px) {
        align-self: baseline;
        &:not(:last-child){
            margin-right: 70px;
            margin-bottom: 0;
        }
        &:last-child{
            margin-left: auto;
            // margin-right: 0;
        }
        text-align: left;
    }
}


.footer-logo{
    margin-bottom: 20px;
    display: block;
}

.address-list__item:not(:last-child){
    margin-bottom: 9px;
}

.footer-list__text,
.address-list__link{
    color: var(--third-text-color);
    font-family: "Roboto", sans-serif;
}

address{
    font-style: inherit;
}

.address-list__info {
    color: var(--sixth-text-color);
    font-family: "Roboto", sans-serif;
    transition: color var(--transition);
    &:hover,
    &:focus{
    color: var(--third-text-color);
    }
}

.footer-list__title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin-bottom: 20px;
}


.footer-list__container .social-link{
    background-color: var(--first-background-icons-color);
    color: var(--third-text-color);
    transition: background-color var(--transition);
    &:hover,
    &:focus{
    background-color: var(--accent-text-color);
    }
}

.footer-form{
    max-width: 450px;
    @media screen and (min-width: 768px) {
        width: 450px;
    }
    @media screen and (min-width: 1200px) {
        width: 570px;
        max-width: 570px;
    }
}

.subscribe-field{
    @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
}

.footer-form__input-email{
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--fifth-border-color);
    height: 50px;
    width: 100%;
    padding: 15px 16px;
    margin-bottom: 20px;
    color: var(--eighth-text-color);
    transition: border var(--transition);
    outline: none;
    &:hover,
    &:focus{
    border: 1px solid var(--accent-text-color);
    }
    &::placeholder{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.25;
        color: var(--eighth-text-color);
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0;
    }
}


.footer-form .hero__button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    @media screen and (min-width: 1200px) {
        margin: 0;
    }
}

.footer-form__icon-subscribe{
    margin-left: 10px;
    fill: var(--third-text-color);
}