.menu-open-btn{
    border: none;
    position: absolute;
    right: 15px;
    background-color: var(--third-text-color);
    @media screen  and (min-width: 768px){
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }
}

.menu-open-btn__icon{
    transition: fill var(--transition);
    .menu-open-btn:hover &,
    .menu-open-btn:focus & {
    fill: var(--accent-text-color);
    }
}

.mob-menu{
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 48px;
    transition: left var(--transition), visibility var(--transition);
}

.mob-menu.is-hidden {
    left: 100%;
}

.menu-close-btn{
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
}

.menu-close-btn__icon{
    transition: fill var(--transition);
    .menu-close-btn:hover &,
    .menu-close-btn:focus & {
    fill: var(--accent-text-color);
    }
}

.mob-menu_container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
}

.mob-menu-about-list__item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}

.mob-menu-about-list__link{
    transition: margin-bottom var(--transition);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    &:hover,
    &:focus{
        color: var(--accent-text-color);
    }
}

.mob-menu-contacts-list__item{
    &:first-child{
        margin-bottom: 32px;
    }
    &:last-child{
        margin-top: 64px;
    }
}

.mob-menu-contacts-list__link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
}

.mob-menu-contacts-list__mail{
    font-size: 24px;
    line-height: 1.16;
}

.mob-menu-social-list{
    display: flex;
}

.mob-menu-social-list__item{
    &:not(:last-child){
        margin-right: 10px;
    }
    &:not(:last-child){
        &::after{
                content: "";
                transform: rotate(90deg);
                width: 22px;
                border: 1px solid var(--fourth-border-color);
                margin-left: 10px;
        }
    }
}

.mob-menu-social-list__link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}